# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
Kiwi.Service.CouponAPI/obj/
Kiwi.Web/bin/
Kiwi.Service.CouponAPI/bin/
Kiwi.Web/obj/
Kiwi/obj/
/Kiwi.Service.AuthAPI/bin/Debug/net8.0
/Kiwi.Service.AuthAPI/obj
