@model LoginRequestModel

<form class="modal-content animate" action="login" method="post">
    <div class="imgcontainer">
        <img src="img/img_avatar2.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <div class="col-2">
            <label class="control-label pt-2" style="font-size:20px;">Username</label>
        </div>
        <div class="col-12 pb-3">
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="col-2">
            <label class="control-label pt-2" style="font-size:20px;">Password</label>
        </div>
        <div class="col-12 pb-3">
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
 
        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" href="home/index" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}